html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #00f, #ff00ff);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 0 0 10px #00f, 0 0 20px #ff00ff;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 15px;
    border: 1px solid #00f;
    border-radius: 5px;
    background: #222;
    color: #fff;
    font-size: 1em;
}

button {
    background: #00f;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00c;
}